{% extends "base_generic.html" %}

{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">About Us</h1>
                <p>포켓몬은 사랑입니다 :)</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../static/images/피카츄.png" alt="My Image" style="width:180px ; height:200px">
                    <p>
                        피카츄
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../static/images/파이리.png" alt="My Image" style="width:200px ; height:200px">
                    <p>
                        파이리
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../static/images/꼬부기.jpg" alt="My Image" style="width:200px ; height:200px">
                    <p>
                        꼬부기
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}